.topnav {
  background-color: #333;
  overflow: hidden;
  border-radius: 15px;
  font-weight: bold;
  transition: margin-right 0.3s
}

/* Text color */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Adds a color to the active link */
.topnav a.active {
  background-color: #df8f0f;
  color: white;
}

.topnav.open {
  margin-right: 250px; /* If sidebar is open, then the topbar is moved 250px to the left */
}



.menu-toggle {
  position: sticky;
  top: 0;
  left: 100%;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 20px;
  color: white;
  z-index: 3;
}

#sidebar {
  position: fixed;
  top: 8px;
  right: -250px; /*-250 for closed state*/
  width: 250px;
  height: 98%;
  background-color: #333;
  overflow-x: hidden;
  transition: 0.3s;
  z-index: 1;
  border-radius: 15px;
}

#sidebar a:hover {
  background-color: #df8f0f;
  padding: 14px 16px;
}

#sidebar.open {
  right: 0; /* 0 for open state */
  z-index: 2;
}

#sidebar ul {
  list-style-type: none;
  padding: 0;
}

#sidebar ul li {
  padding: 15px;
}

#sidebar ul li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 16px;
}

#sidebar.open + .topnav {
  margin-right: 250px; /* Adjust based on sidebar width */
}

#sidebar.open + main {
  margin-right: 250px; /* Adjust based on sidebar width */
}

/* Style the active link */
#sidebar a.active {
  background-color: #df8f0f;
  color: white;
}

.sidebar-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 6px;
  background-color: #333;
  border-top: 1px solid #555;
}

/* Style the #hzlogo image inside the bottom section of the sidebar */
.sidebar-bottom #hzlogo {
  width: 70%;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}


body {
  display: flex;
  flex-direction: column;
  background-image: url('resources/background.jpg');
  background-attachment: fixed;
  background-size: cover;
  font-family: arial;
  min-height: 100vh;
}

main {
  flex: 1;
  padding-left: 0.4%;
  margin-right: 0; /* For closed sidebar */
  transition: margin-right 0.3s; /* Transition length for smooth animation */
}

main.open {
  margin-right: 250px; /* Adjust the value based on sidebar width */
}

p, table, h1, h2, li {
  color: black;
}

footer {
  background-color:#df8f0f;
  position: sticky;
  text-align: center;
  color: white;
}